{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    - tags: Tag[] (id, nom, slug, works(nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug)) )
#}

{% for tag in tags %}
  <a href="{{ path('app.tags.show', { id:tag.id, slug: tag.slug }) }}">{{ tag.nom }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
