{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tag: Tag (id, nom, slug, works(nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug)) )
#}

{% extends 'base.html.twig' %}
{% block title %}{{ tag.nom }}{% endblock %}

{% block content1 %}
  {% include 'partials/breadcrumbs.html.twig' with { texte: tag.nom } %}
  {# Si je récupère tous les works et qu'il y en a 500 -> soucis de performance?
    {% include 'works/indexPortfolio.html.twig' with { works: tag.works } %}
    Je vais plutôt utiliser un requête personnalisée ou je limite le nombre de résultats dès le départ
  #}

  {# le template étant identique (sauf dans le ul) à indexPortfolio,  je regroupe dans le même template partial les deux #}
  {% include 'works/indexCommun.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('tagsShow') }}
{% endblock %}
