{#
  ./templates/posts/index.html.twig
  Variables disponibles:
    - posts Post[](datePublication, image, nom, texte, slug, categories(Categorie[](nom, slug)) )
#}

<!-- Featured News -->
<div class="col-sm-6 featured-news">
  <h2>{{ 'pages.accueil.works.titre'|trans }}</h2>
  {% for post in posts %}
    <div class="row">
      <div class="col-xs-4">
        <a href="{{ path('app.posts.show', { id: post.id, slug: post.slug }) }}"><img src="{{ asset( post_images_directory ~ post.image ) }}" alt="{{ post.nom }}"></a>
      </div>
      <div class="col-xs-8">
        <div class="caption">
          <a href="{{ path('app.posts.show', { id: post.id, slug: post.slug }) }}">{{ post.nom }}</a>
        </div>
        <div class="date">{{ post.datePublication|date('d M Y') }}
        </div>
        <div class="intro">{{ (post.texte|striptags)|truncate(50, true)|raw }}
          <a href="{{ path('app.posts.show', { id: post.id, slug: post.slug }) }}">{{ 'btn.lirePlus'|trans }}...</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<!-- End Featured News -->
