{#
  ./templates/posts/indexPostShow.html.twig
  Variables disponibles:
    - posts Post[](datePublication, image, nom, texte, slug, categories(Categorie[](nom, slug)) )
#}

<h4>{{ 'pages.blog.postDetail.derniersPosts'|trans }}</h4>
<ul class="recent-posts">
  {% for post in posts %}
    <li><a href="{{ path('app.posts.show', { id: post.id, slug: post.slug }) }}">{{ post.nom }}</a></li>
  {% endfor %}
</ul>
