{#
  ./templates/posts/liste.html.twig
  Variables disponibles:
    - posts Post[](datePublication, image, nom, texte, slug, categories(Categorie[](nom, slug)) )
#}

{% for post in posts %}
  <!-- Blog Post Excerpt -->
  <div class="col-sm-6">
    <div class="blog-post blog-single-post">
      <div class="single-post-title">
        <h2>{{ post.nom }}</h2>
      </div>

      <div class="single-post-image">
        <img src="{{ asset( post_images_directory ~ post.image ) }}" alt="{{ post.nom }}">
      </div>

      <div class="single-post-info">
        <i class="glyphicon glyphicon-time"></i>{{ post.datePublication|date('d M, Y') }} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
      </div>

      <div class="single-post-content">
        <p>
          {{ (post.texte|striptags)|truncate(150, true)|raw }}
        </p>
      <a href="{{ path('app.posts.show', { id: post.id, slug: post.slug }) }}" class="btn">{{ 'btn.lirePlus'|trans }}</a>
      </div>
    </div>
  </div>
  <!-- End Blog Post Excerpt -->
{% endfor %}
