{#
  ./templates/posts/indexBlog.html.twig
  Variables disponibles:
    - posts Post[](datePublication, image, nom, texte, slug, categories(Categorie[](nom, slug)) )
    - activePagination int lien de la pagination actif
    - actualOffset int offset du lien actif (utile pour next et previous)
    - limit int nbre de posts par page
    - nbrePages int nbre de pages pour la pagination
#}
{% include 'posts/liste.html.twig' %}
<!-- Pagination -->
<div class="pagination-wrapper ">
  <ul class="pagination pagination-sm">
    {% set offset = 0 %}
    {# désactivation du lien previous si on est sur la première page #}
    {# redirection vers la page blog en envoyant les paramètre nécessaire à la navigation pour aller au lien précédent#}
    <li class="{% if activePagination == 1 %}disabled{% endif %}">
      <a href="{{ path(route, { id: object.id, slug: object.slug, orderBy: {datePublication: 'desc'}, limit: limit, offset: actualOffset - limit, activePagination: activePagination - 1}) }}" class="{% if activePagination == 1 %}btn disabled{% endif %}">{{ 'pagination.precedent'|trans }}</a>
    </li>
    {# contructions des différents liens de la pagination en fonction du nbre de pages envoyées par le controleur #}
    {% for i in 1..nbrePages %}
      <li class="{% if activePagination == i %}active{% endif %}">
        <a href="{{ path(route, { id: object.id, slug: object.slug, orderBy: {datePublication: 'desc'}, limit: limit, offset: offset, activePagination: i}) }}">{{ i }}</a>
      </li>
      {# incrémentation de l'offset #}
      {% set offset = offset + limit %}
    {% endfor %}
    {# désactivation du lien suivant si nécessaire #}
    {# redirection vers la page blog en envoyant les paramètre nécessaire à la navigation pour aller au lien suivant #}
    <li class="{% if activePagination == nbrePages %}disabled{% endif %}">
      <a href="{{ path(route, { id: object.id, slug: object.slug, orderBy: {datePublication: 'desc'}, limit: limit, offset: actualOffset + limit, activePagination: activePagination + 1}) }}" class="{% if activePagination == nbrePages %}btn disabled{% endif %}">{{ 'pagination.suivant'|trans }}</a>
    </li>
  </ul>
</div>
