{#
  ./templates/posts/show.html.twig
  Variables disponibles:
    - post Post (datePublication, image, nom, texte, slug, categories(Categorie[](nom, slug)) )
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ post.nom }}
{% endblock %}

{% block content1 %}
  {% include 'partials/breadcrumbs.html.twig' with {texte: post.nom} %}
  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Blog Post -->
        <div class="col-sm-8">
          <div class="blog-post blog-single-post">
            <div class="single-post-title">
              <h2>{{ post.nom }}</h2>
            </div>

            <div class="single-post-image">
              <img src="{{ asset( post_images_directory ~ post.image ) }}" alt="{{ post.nom }}">
            </div>
            <div class="single-post-info">
              <i class="glyphicon glyphicon-time"></i>{{ post.datePublication|date('d M, Y') }}
              <a href="#" title="Show Comments">
                <i class="glyphicon glyphicon-comment"></i>11</a>
            </div>
            <div class="single-post-content">
              {{ post.texte|raw }}
            </div>
          </div>
        </div>
        <!-- End Blog Post -->
        <!-- Sidebar -->
        <div class="col-sm-4 blog-sidebar">
          {{ render(controller('App\\Controller\\PostController::indexAction',{ vue: 'indexPostShow', orderBy: { datePublication: 'DESC' }, limit: 4 })) }}

          {{ render(controller('App\\Controller\\CategorieController::indexAction')) }}

        </div>
        <!-- End Sidebar -->
      </div>
    </div>
  </div>
{% endblock %}
