{#
  ./templates/partials/adresse.html.twig
  Variables disponibles:
    - /
#}
<p class="contact-us-details">
    <b>{{ 'pages.footer.contact.adresse.nom'|trans }}: </b>{{ 'pages.footer.contact.adresse.details'|trans }}<br/>
    <b>{{ 'pages.footer.contact.tel.nom'|trans }}:</b> +1 123 45678910<br/>
    <b>Fax:</b> +1 123 45678910<br/>
    <b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
</p>
