{#
  ./templates/partials/breadcrumbs.html.twig
  Variables disponibles:
    - texte string
#}

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{texte}}</h1>
      </div>
    </div>
  </div>
</div>
