{#
  ./templates/partials/footer.html.twig
  Variables disponibles:
  - activeRoute string
  - paramsRoute array(ensemble des paremètres de la route actuelle)
  - activeLocale string
  - scripts string
#}

<!-- Footer -->
<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-footer col-md-4 col-xs-6">
        <h3>{{ 'pages.footer.contact.titre'|trans }}</h3>
        {% include 'partials/adresse.html.twig' %}
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>{{ 'pages.footer.social.titre'|trans }}</h3>
        <p>{{ 'pages.footer.social.texte'|trans }}</p>
        <div>
          <img src="{{ asset('build/images/icons/facebook.png') }}" width="32" alt="Facebook">
          <img src="{{ asset('build/images/icons/twitter.png') }}" width="32" alt="Twitter">
          <img src="{{ asset('build/images/icons/linkedin.png') }}" width="32" alt="LinkedIn">
        <img src="{{ asset('build/images/icons/rss.png') }}" width="32" alt="RSS Feed">
      </div>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>{{ 'pages.footer.company.titre'|trans }}</h3>
        <p>{{ 'pages.footer.company.texte'|trans }}</p>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">
          &copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.
          | <a href="{{ path('easyadmin') }}">Administration</a>
        </div>
      </div>
    </div>
  </div>
</div>
