{#
  ./templates/partials/header.html.twig
  Variables disponibles:
    - activeRoute string
    - paramsRoute array(ensemble des paremètres de la route actuelle)
    - activeLocale string
    - scripts string
#}

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('app.homepage') }}"><img src="{{asset('build/images/logo.png')}}" alt="Basica"></a>
    </div>
    <div class="collapse navbar-collapse">
    <!-- navigation -->
      {{ render(controller('App\\Controller\\PageController::menuAction', {activeParams: paramsRoute, activeRoute: activeRoute} )) }}
    </div>
    <div class="float-right">
      <a href="{{ path( activeRoute, (paramsRoute|merge({_locale: 'fr'}))|merge(app.request.query.all) ) }}" class="{% if activeLocale == 'fr' %}active{% endif %}">FR</a> |
      <a href="{{ path( activeRoute, (paramsRoute|merge({_locale: 'en'}))|merge(app.request.query.all) ) }}" class="{% if activeLocale == 'en' %}active{% endif %}">EN</a>
    </div>
</div>
</header><!--/header-->
