{#
  ./templates/partials/head.html.twig
  Variables disponibles:
  - activeRoute string
  - paramsRoute array(ensemble des paremètres de la route actuelle)
  - activeLocale string
  - scripts string
#}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="{{ activeLocale }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BASICA - {{ title }}</title>
    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}
        <script src="{{asset('build/modernizr.js')}}"></script>

    {% endblock %}


</head>
