{#
  ./templates/partials/scripts.html.twig
  Variables disponibles:
  - activeRoute string
  - paramsRoute array(ensemble des paremètres de la route actuelle)
  - activeLocale string
  - scripts string
#}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
    {{ scripts|raw }}

{% endblock %}
