{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages: Page[] (id, nomMenu, slug, nom, texte, tri)
    - activeId int
#}
<ul class="nav navbar-nav navbar-right">
  {% for page in pages %}
      <li class="{% if page.id == activeId %}active{% endif %}">
        <a href="{{ path('app.pages.show', {id: page.id, slug: page.slug}) }}">
          {{ page.nomMenu }}
        </a>
      </li>
  {% endfor %}
</ul>
