{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page: Page (id, nomMenu, slug, nom, texte, tri)
#}

{% extends 'base.html.twig' %}
{% block title %}
  {{page.nom}}
{% endblock %}

{% block content1 %}
  {# Page d'accueil -> slider + derniers travaux #}
  {% if page.id == 1 %}
    {{ render(controller('App\\Controller\\WorkController::indexAction', { vue: 'slider', where: {'misEnAvant': 1}, orderBy: {dateRealisation: 'desc'} })) }}
    {{ render(controller('App\\Controller\\WorkController::indexAction',{ vue: 'index', orderBy: {dateRealisation: 'desc'}, limit: 6  })) }}
  {# Autres pages -> inclusion de la banderole verte #}
  {% else %}
    {% include 'partials/breadcrumbs.html.twig' with {texte: page.nom} %}
  {% endif %}
  {# Page de contact -> map #}
  {% if page.id == 4 %}
    {% include 'pages/partials/map.html.twig' %}
  {% endif %}

    <div class="section">
      <div class="container">
        <div class="row">
          {# Page d'accueil -> 3 derniers articles + facebook feed #}
          {% if page.id == 1 %}
            {{ render(controller('App\\Controller\\PostController::indexAction',{ vue: 'index', orderBy: {datePublication: 'desc'}, limit: 3  })) }}
            <!-- Latest News FB -->
            {{ render(controller('App\\Controller\\RSSController::RSSAction', { url: 'http://fetchrss.com/rss/5cb60a658a93f8107a8b45685cb609d18a93f863748b4567.xml' })) }}
          {# Page de blog -> derniers articles #}
          {% elseif page.id == 3 %}
              {#Si on a cliqué sur un des liens de la pagination#}
              {% if not app.request.query.all is empty %}
                {{ render(controller('App\\Controller\\PostController::paginatedAction',{ route: app.request.attributes.get('_route'), object: page, orderBy: {datePublication: 'desc'}, limit: app.request.get('limit'), offset: app.request.get('offset'), activePagination: app.request.get('activePagination') })) }}
              {# si on a cliqué sur aucun lien de la navigation #}
              {% else %}
                {{ render(controller('App\\Controller\\PostController::paginatedAction',{ route: app.request.attributes.get('_route'), object: page, orderBy: {datePublication: 'desc'}, limit: 2})) }}
              {% endif %}
          {# Page de contact -> adresse de contact (partial pour plus de lisibilité) #}
          {% elseif page.id == 4 %}
              {% include 'pages/partials/address.html.twig' %}
          {# Page des travaux + nouvelles pages éventuelles -> texte #}
          {% else %}
            <div class="col-sm-12">
              {{ page.texte|raw }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {# Page des travaux -> 6 derniers travaux #}
    {% if page.id == 2 %}
      {{ render(controller('App\\Controller\\WorkController::indexAction',{ vue: 'indexPortfolio', orderBy: {dateRealisation: 'desc'}, limit: 3  })) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
  {% if page.id == 2 %}
    {{ encore_entry_script_tags('portfolio') }}
  {% endif %}
{% endblock %}
