{#
  ./templates/rss/feed.html.twig
  Variables disponibles:
    - rss
#}
<div class="col-sm-6 latest-news">
  <h2>{{ 'pages.accueil.feed.titre'|trans }}</h2>
  <div class="row">
    <div class="col-sm-12">
      {% for item in rss.channel.item %}
        {% if loop.index0 < 3 %}
          <div class="col-sm-12">
            <div class="caption">
              <a href="{{item.link}}" target="_blank">{{ item.title }}</a>
            </div>
            <div class="date">{{item.pubDate|date('d M, Y')}}
            </div>
            <div class="intro">{{ ( (item.description|striptags|raw)|slice(0,-31) )|truncate(100, true, '')}}
              <a href="{{item.link}}" target="_blank">{{ 'btn.lirePlus'|trans }}...</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
