{#
  ./templates/categories/index.html.twig
  Variables disponibles:
    - categories Categorie[] (id, nom, slug, posts ( Post[] (datePublication, image, nom, texte, slug, categories) ) )
#}
<h4>{{ 'pages.blog.postDetail.categories'|trans }}</h4>
<ul class="blog-categories">
  {% for categorie in categories %}
    <li>
      <a href="{{ path('app.categories.show', { id: categorie.id, slug: categorie.slug }) }}">{{ categorie.nom }}</a>
    </li>
  {% endfor %}
</ul>
