{#
  ./templates/categories/show.html.twig
  Variables disponibles:
    - categorie Categorie (id, nom, slug, posts ( Post[] (datePublication, image, nom, texte, slug, categories) ) )
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ categorie.nom }}
{% endblock %}

{% block content1 %}
{% include 'partials/breadcrumbs.html.twig' with {texte: categorie.nom} %}
<div class="section">
  <div class="container">
    <div class="row">
      {#Si on a cliqué sur un des liens de la pagination#}
      {% if not app.request.get('activePagination') is empty %}
        {{ render(controller('App\\Controller\\PostController::paginatedAction',{ route: app.request.attributes.get('_route'), object: categorie, methode: 'findAllByCategorie', where: { categorie: categorie.id }, limit: app.request.get('limit'), offset: app.request.get('offset'), activePagination: app.request.get('activePagination') })) }}
      {# si on a cliqué sur aucun lien de la navigation #}
      {% else %}
        {{ render(controller('App\\Controller\\PostController::paginatedAction',{ route: app.request.attributes.get('_route'), object: categorie, methode: 'findAllByCategorie', where: { categorie: categorie.id }, limit: 2})) }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
