{#
  ./templates/pages/partials/map.html.twig
  Variables disponibles:
    - /
#}

    <h3>{{ 'pages.contact.titre'|trans }}</h3>
    </hr>
    <div class="col-sm-6">
      <!-- Contact Info -->
      {% include 'partials/adresse.html.twig' %}
      <!-- End Contact Info -->
    </div>
    <div class="col-sm-6"></div>
