{#
  ./templates/pages/partials/map.html.twig
  Variables disponibles:
    - /
#}

<div class="section section-map">
      <div class="col-sm-12" style="padding:0;">
        <!-- Map -->
        <div id="contact-us-map">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpy1wPRz0wEcRq6ddtLc8Wy0&key=AIzaSyCYjXn1KW0wuIrgEhI9b7mmfWgO9OhSpQw" allowfullscreen></iframe>
        </div>
        <!-- End Map -->
  </div>
</div>
