{#
  ./templates/base.html.twig
#}

{% set paramsRoute = app.request.attributes.get('_route_params') %}
{% set activeRoute = app.request.attributes.get('_route') %}
{% set activeLocale = app.request.locale %}

{% if block('javascripts') is defined %}
  {% set scripts = block('javascripts') %}
{% else %}
  {% set scripts = null %}
{% endif %}

{# ------------------------template général------------------------------#}

{% include 'partials/head.html.twig' with { title: block('title') } %}

  <body>

    {% include 'partials/header.html.twig' %}

    {% block content1 %}

    {% endblock %}

    {% include 'partials/footer.html.twig' %}

    {% include 'partials/scripts.html.twig' %}

  </body>

</html>
