{#
  ./templates/works/ajaxMore.html.twig
  Variables disponibles:
    - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}

{% if works|length > limit %}
  {% set works = works|slice(0, -1) %}
  {% set moreElements = 'true' %}
{% else %}
  {% set moreElements = 'false' %}
{% endif %}
{% include 'works/liste.html.twig' %}
