{#
  ./templates/works/indexCommun.html.twig
  Variables disponibles:
    - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
    - tag: undefined|Tag(id, nom, slug, works( Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug)) ))
#}

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2" id="lastsWorks">
        {% if tag is defined %}
          {{ render(controller('App\\Controller\\WorkController::indexAction',{ vue:'liste', methode: 'findByTag', orderBy: {dateRealisation: 'DESC'}, where: {'tag': tag.id}, limit: 3  })) }}
        {% else %}
          {% include 'works/liste.html.twig' %}
        {% endif %}

      </ul>

    </div>

    <ul class="pager" id="moreWorks" data-route="{{ path('app.works.more') }}" {% if tag is defined %}data-tag="{{ tag.id }}"{% endif %}>
      <li>
        <a href="#">{{ 'btn.plusTravaux'|trans }}</a>
      </li>
    </ul>

  </div>
</div>
