{#
  ./templates/works/index.html.twig
  Variables disponibles:
    - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}

<!-- Our Portfolio -->

<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>{{ 'pages.accueil.works.titre'|trans }}</h1>
      </div>

      <ul class="grid cs-style-3">
        {% include 'works/liste.html.twig' %}
      </ul>
    </div>
  </div>
</div>
<!-- Our Portfolio -->

<hr>
