{#
  ./templates/works/indexPortfolio.html.twig
  Variables disponibles:
    - - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}

{% include 'works/indexCommun.html.twig' %}
