{#
  ./templates/works/index.html.twig
  Variables disponibles:
    - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}
{% if not largeurColonnes is defined %}
  {% set largeurColonnes = 'col-md-4 col-sm-6' %}
{% endif %}
{% for work in works %}
  <div class="{{largeurColonnes}}" data-offset="{{works|length}}" data-more="{% if moreElements is defined %}{{moreElements}}{% endif %}">
    <figure>
      <img src="{{ asset( work_images_directory ~ work.image ) }}" alt="{{work.image}}">
      <figcaption>
        <h3>{{ work.nom|truncate(10) }}</h3>
        <span>{{ work.client.nom }}</span>
        <a href="{{ path('app.works.show', { 'id':work.id, 'slug':work.slug }) }}">{{'btn.regarder'|trans}}</a>
      </figcaption>
    </figure>
  </div>
{% endfor %}
