{#
  ./templates/works/related.html.twig
  Variables disponibles:
    - - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>{{ 'pages.works.workDetail.related'|trans }}</h1>
      </div>
      <ul class="grid cs-style-2">
        {% include 'works/liste.html.twig' with {largeurColonnes: 'col-md-3 col-sm-6'}%}
      </ul>

    </div>

  </div>
</div>
