{#
  ./templates/works/show.html.twig
  Variables disponibles:
    - work: Work(nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ work.nom }}
{% endblock %}

{% block content1 %}
  {% include 'partials/breadcrumbs.html.twig' with {texte: work.nom} %}

  <div class="section">
   <div class="container">
     <div class="row">
       <!-- Product Image & Available Colors -->
       <div class="col-sm-6">
         <div class="product-image-large">
           <img src="{{ asset( work_images_directory ~ work.image ) }}" alt="{{ work.nom }}">
         </div>
         <div class="colors">
           <span class="color-white"></span>
           <span class="color-black"></span>
           <span class="color-blue"></span>
           <span class="color-orange"></span>
           <span class="color-green"></span>
         </div>
       </div>
       <!-- End Product Image & Available Colors -->
       <!-- Product Summary & Options -->
       <div class="col-sm-6 product-details">
         <h2>{{ work.nom|upper }}</h2>
         <h3>{{ 'pages.works.workDetail.resume'|trans }}</h3>
         {{ work.texte|raw }}
         <h3>{{ 'pages.works.workDetail.details'|trans }}</h3>
         <p><strong>Client: </strong>{{ work.client.nom }}</p>
         <p><strong>Date: </strong>{{ work.dateRealisation|date('M d, Y') }}</p>
         <p><strong>Tags: </strong>
         {# affichage de la liste des tags par ordre alphabétique #}
         {{ render(controller('App\\Controller\\TagController::indexAction',{ methode: 'findByWork', where: { work: work.id, locale: app.request.locale }  })) }}
       </div>
       <!-- End Product Summary & Options -->

     </div>
   </div>
  </div>

  <hr>
  {% if not work.tags is empty %}
    {{ render(controller('App\\Controller\\WorkController::relatedAction',{ 'work': work })) }}
  {% endif %}

{% endblock %}
