{#
  ./templates/works/slider.html.twig
  Variables disponibles:
    - works: Work[](nom, texte_court, texte_long, slug, dateRealisation, photo, client: Client(id, nom), createur: Createur(id, nom), tags: Tag[](id, nom, slug))
#}
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
          {% for work in works %}
              <li data-target="#main-slider" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for work in works %}
              <div class="item {% if loop.first %}active{% endif %}" style="background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{ asset( work_images_directory ~ work.image ) }}); background-repeat: no-repeat;background-size: cover;">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="carousel-content centered">
                                  <h2 class="animation animated-item-1">{{ work.nom }}</h2>
                                  <p class="animation animated-item-2">{{ (work.texte|striptags)|truncate(100, true) }}</p>
                                  <br>
                                  <a class="btn btn-md animation animated-item-3" href="{{ path('app.works.show', { 'id':work.id, 'slug':work.slug }) }}">{{'btn.apprendrePlus'|trans}}</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!--/.item-->
            {% endfor %}
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->
